<!DOCTYPE html>
<html>
  <head>
    <title>Ferro - No more Html with Opal-Ferro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="description", content="No more Html with Opal-Ferro">
    <%= favicon_link_tag '/ferro/favicon.ico', type: 'image/ico' %>
    <%= favicon_link_tag '/ferro/favicon180.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '180x180' %>
    <%= favicon_link_tag '/ferro/favicon192.png', rel: 'icon', type: 'image/png', sizes: '192x192' %>
    <% if Rails.env.production? %>
      <%= javascript_include_tag 'https://www.googletagmanager.com/gtag/js?id=UA-112754908-1', async: true %>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-113451133-1');
      </script>
    <% end %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h4>This website needs Javascript to function. No attempts have been made to support older webbrowsers like Internet explorer and Edge 15.</h4>
    <p>I recommend: <a href="https://www.mozilla.org/">Firefox</a>.</p>
  </body>
</html>
